<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
        <title th:text="${'Contributor | ' + contributor.firstName + ' ' + contributor.lastName}"></title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection" />
        <link th:href="@{/css/app.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    </head>
    <body class="dt-example dt-example-material">
        <header id="sidenav">
            <div class="navbar-fixed">
                <nav id="sidenav-top" class="hide-on-large-only background purple">
                    <div class="container left">
                        <div class="nav-wrapper">
                            <div class="container left">
                                <a data-target="slide-out" class="sidenav-trigger">
                                    <i class="material-icons">menu</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <ul id="slide-out" class="sidenav sidenav-fixed z-depth-2 hoverable sidenav-close">
                <li>
                    <div class="user-view">
                        <div class="background" style="background-image: url('/images/background.jpg'); background-size: 100%">
                        </div>
                        <a th:href="@{/contributor}">
                            <img class="circle" th:src="${IMG_BASE + contributor.imageUrl}" onerror="this.src='/images/avatar.png'">
                        </a>
                        <a>
                            <span class="white-text name" th:text="${contributor.firstName + ' ' + contributor.lastName}"></span>
                        </a>
                        <a>
                            <span class="white-text email" th:text="${contributor.email}"></span>
                        </a>
                    </div>
                </li>
                <li id="_contributor_dashboard">
                    <a id="_contributor_dashboard_link" class="purple-text">
                        <i class="purple-text material-icons">dashboard</i>Dashboard
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li id="_contributor_questions">
                    <a id="_contributor_questions_link" class="purple-text">
                        <i class="purple-text material-icons">question_answer</i>Questions
                    </a>
                </li>
                <li id="_contributor_broadcasts" th:if="${contributor.type.name() != 'REGULAR'}">
                    <a id="_contributor_broadcasts_link" class="purple-text">
                        <i class="purple-text material-icons">rss_feed</i>Broadcasts
                    </a>
                </li>
                <li id="_contributor_polls" th:if="${contributor.type.name() != 'REGULAR'}">
                    <a id="_contributor_polls_link" class="purple-text">
                        <i class="purple-text material-icons">poll</i>Polls
                    </a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li id="_contributor_contributors" th:if="${contributor.type.name() == 'SUPER'}">
                    <a id="_contributor_contributors_link" class="purple-text">
                        <i class="purple-text material-icons">people_outline</i>Contributors
                    </a> 
                </li>
                <li id="_contributor_users" th:if="${contributor.type.name() == 'SUPER'}">
                    <a id="_contributor_users_link"  class="purple-text">
                        <i class="purple-text material-icons">people</i>Users
                    </a> 
                </li>
                <li id="_contributor_feedbacks" th:if="${contributor.type.name() == 'SUPER'}">
                    <a id="_contributor_feedbacks_link" class="purple-text">
                        <i class="purple-text material-icons">feedback</i>Feedbacks
                    </a> 
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a class="subheader">Extras</a>
                </li>
                <li id="_contributor_preferences">
                    <a id="_contributor_preferences_link" class="purple-text">
                        <i class="purple-text material-icons">build</i>Preferences
                    </a> 
                </li>
                <li id="_contributor_tags">
                    <a id="_contributor_tags_link" class="purple-text">
                        <i class="purple-text material-icons">label_outline</i>Tags
                    </a> 
                </li>
                <li id="_contributor_asks" th:if="${contributor.type.name() == 'SUPER'}">
                    <a id="_contributor_asks_link" class="purple-text">
                        <i class="purple-text material-icons">history</i>Ask Log
                    </a> 
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a th:href="@{/contributor/logout}" class="purple-text">
                        <i class=" purple-text material-icons">logout</i>Logout
                    </a>
                </li>
            </ul>
        </header>

        <section id="main" class="container">
            <div class="row" id="content">
            </div>

            <div class="row" id="footer">
            </div>
        </section>

        <!--  Scripts-->
        <script th:src="@{/js/jquery-3.3.1.js}"></script>
        <script th:src="@{/js/materialize.js}"></script>
        <script th:src="@{/js/Chart.min.js}"></script>
        <script th:src="@{/js/app.js}"></script>
        <script class="init" type="text/javascript">
            var current = "_contributor_[[${page}]]";
            $(document).ready(function () {
                $('.sidenav').sidenav();
                $('.button-collapse').sidenav({menuWidth: 240});
                windowResize();

                //load('footer', {}, "footer");
                updateLink(current);
                load(current, {'embed': 'yes'}, "content");
                initNavLink('_contributor_dashboard');
                initNavLink('_contributor_questions');
                initNavLink('_contributor_broadcasts');
                initNavLink('_contributor_polls');
                initNavLink('_contributor_users');
                initNavLink('_contributor_contributors');
                initNavLink('_contributor_feedbacks');
                initNavLink('_contributor_preferences');
                initNavLink('_contributor_tags');
                initNavLink('_contributor_asks');

                showToast('[[${error}]]', "red", "error");
                showToast('[[${success}]]', "green", "done");
                showToast('[[${message}]]', "white", "notifications");
            });

            $(window).resize(() => windowResize());

        </script>
    </body>
</html>
